/* -- Variables -- */
@import url("https://fonts.googleapis.com/css?family=Audiowide");
h1, h2, h3 {
  font-family: "Audiowide", sans-serif;
  color: #892E61; }
  h1 h1, h2 h1, h3 h1 {
    font-size: 2.4rem;
    font-weight: 300;
    line-height: 1.2;
    margin: 0 0 .4em;
    	/*@include MQ(S) {
    		font-size: 3.2rem;
    	}
    
    	@include MQ(M) {
    		font-size: 4rem;
    	}*/ }
  h1 h2, h2 h2, h3 h2 {
    font-weight: bold;
    text-transform: uppercase;
    margin: 1em 0;
    /*@include MQ(S) {
    	font-size: 1.8rem;
    	margin: 1em 0 1.4em;
    }*/ }

section > h2::before {
  /* number before each section title */
  color: #727226; }

p {
  font-size: 1rem;
  line-height: 1.4;
  color: #cd6aa1;
  font-family: "Helvetica", sans-serif;
  /*@include MQ(S) {
  	font-size: 1.6rem;
  	line-height: 1.6;
  }*/ }
  p a {
    color: #582A72;
    text-decoration: underline; }

nav {
  font-family: "Audiowide", sans-serif; }

/*
SPacing
*/
#zen-intro {
  overflow: hidden;
  background-image: url(../images/zen.svg);
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: 80% 5%;
  background-color: #A6C36C; }

header {
  padding-top: 7em;
  line-height: .01em;
  margin-left: 8%; }

header h1 {
  animation: appear 1s linear; }

header h2 {
  font-size: 15px;
  animation: appear 3s linear; }

.summary p:nth-last-child(2) {
  animation: appear 5s linear; }

.summary p:nth-last-child(1) {
  animation: appear 6s linear; }

#zen-summary {
  margin-left: 8%;
  width: 80%;
  margin-bottom: 5em; }

#zen-summary p {
  font-size: 1em; }

@keyframes appear {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@media screen and (min-width: 768px) {
  #zen-summary {
    margin-left: 8%;
    width: 40%;
    margin-bottom: 7em; }

  #zen-intro {
    background-size: 40%; } }
#zen-preamble h3 {
  text-align: center; }

#zen-preamble {
  background-color: #F7F7BE;
  padding-left: 8%;
  padding-right: 8%;
  padding-bottom: 1em;
  padding-top: 1em; }

#zen-preamble p {
  font-size: 1em;
  padding-left: 19%;
  color: #000; }

.preamble:before {
  content: "";
  display: block;
  position: relative;
  float: left;
  top: -75px;
  width: 150px;
  height: 150px;
  background: #597c0e;
  background: linear-gradient(120deg, #597c0e 0%, #2f72de 100%, #f7f7be 100%);
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.35);
  animation: spin 3s linear infinite; }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
#zen-explanation {
  padding-left: 15%;
  width: 85%;
  padding-bottom: 9em;
  position: relative; }

.explanation {
  z-index: 0;
  background: #f7f7be;
  background: linear-gradient(180deg, #f7f7be 0%, #969674 19%, black 56%); }
  .explanation:after {
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: -1;
    position: absolute;
    left: .1em;
    top: 0;
    background: #ada8a5;
    background: linear-gradient(90deg, #ada8a5 36%, #8c8c94 62%, #68696d 100%); }
  .explanation:before {
    content: "";
    display: block;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    z-index: -1;
    position: absolute;
    left: .1em;
    top: 4em;
    background: #f8e2b0;
    background: linear-gradient(180deg, #f8e2b0 22%, #e3bb76 53%, #ad8d54 100%); }

#zen-explanation h3 {
  font-size: 2em;
  color: black;
  margin-top: 0; }
  #zen-explanation h3:after {
    content: "";
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    z-index: -1;
    position: absolute;
    left: .1em;
    top: 5em;
    background: linear-gradient(120deg, #597c0e 0%, #2f72de 100%, #f7f7be 100%); }
  #zen-explanation h3:before {
    content: "";
    display: block;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    z-index: -1;
    position: absolute;
    left: .5em;
    top: 9em;
    background: #451804;
    background: linear-gradient(240deg, #451804 23%, #c1440e 54%, #e77d11 100%); }

.explanation p:nth-last-child(1) {
  margin-left: 7%;
  margin-top: 3em; }
  .explanation p:nth-last-child(1):after {
    content: "";
    display: block;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    z-index: -1;
    position: absolute;
    top: 23em;
    left: .5em;
    background: #507992;
    background: linear-gradient(200deg, #507992 23%, #cea589 57%, #c17d6b 100%); }
  .explanation p:nth-last-child(1):before {
    content: "";
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    z-index: -1;
    position: absolute;
    top: 33em;
    left: 1em;
    background: #ceb8b8;
    background: linear-gradient(300deg, #ceb8b8 23%, #ead6b8 71%, #bfbdaf 100%); }

.explanation p {
  color: #ffffff;
  z-index: 25; }
  .explanation p:after {
    content: "";
    display: block;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    z-index: -1;
    position: absolute;
    top: 40em;
    left: 5em;
    background: #afdbf5;
    background: linear-gradient(10deg, #afdbf5 37%, #62aee7 68%, #2e84ce 100%); }
  .explanation p:before {
    content: "";
    display: block;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    z-index: -1;
    position: absolute;
    top: 41em;
    left: 12em;
    background: #5b5ddf;
    background: linear-gradient(90deg, #3f54ba 0%, #9ba3d9 61%, #85addb 100%); }

.explanation p::nth-word(1) {
  font-size: 3em; }

#zen-explanation p {
  font-size: 1em; }

@media screen and (min-width: 768px) {
  #zen-explanation {
    padding-bottom: 9em; }

  /*****1st group*****/
  .explanation:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0; }
  .explanation:before {
    content: "";
    display: block;
    left: .5em;
    top: 4em; }

  /*******2nd group************/
  #zen-explanation h3:after {
    content: "";
    display: block;
    position: absolute;
    left: .65em;
    top: 5em; }
  #zen-explanation h3:before {
    content: "";
    display: block;
    position: absolute;
    left: 2em;
    top: 8.5em; }

  /***3rd group***/
  .explanation p:nth-last-child(1):after {
    content: "";
    display: block;
    position: absolute;
    top: 19em;
    left: 9em; }
  .explanation p:nth-last-child(1):before {
    content: "";
    display: block;
    position: absolute;
    top: 21.5em;
    left: 19em; }

  /***4th group***/
  .explanation p:after {
    content: "";
    display: block;
    position: absolute;
    top: 22em;
    left: 28em; }
  .explanation p:before {
    content: "";
    display: block;
    position: absolute;
    top: 22em;
    left: 35em; } }
.participation {
  overflow: hidden;
  background-image: linear-gradient(to top, transparent 50%, #000 99%), linear-gradient(to bottom, transparent 50%, #000 99%), url(../images/milky-way.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0% 0%;
  padding: 3em 3em 1em 5em; }
  .participation p {
    color: #ffffff; }
    .participation p:nth-of-type(3) {
      padding-top: 8em; }
    .participation p > a:link, .participation p abbr {
      color: #6fce72; }

.benefits {
  overflow: hidden;
  background: black url(../images/moon.gif) no-repeat right center;
  background-size: 25%;
  padding: 4em 32% 1em 4em; }
  .benefits p {
    padding-top: 2em;
    padding-bottom: 3em; }

.sidebar {
  background-color: black;
  padding: 1em;
  background-image: radial-gradient(#2A023f 50%, darkblue 100%);
  overflow-y: hidden; }
  .sidebar li {
    color: white; }
  .sidebar a {
    color: lightblue; }
  .sidebar h3 {
    color: #A85D87; }
  .sidebar .wrapper {
    display: flex;
    position: relative; }
    .sidebar .wrapper div {
      position: absolute; }
      .sidebar .wrapper div:nth-child(2) {
        right: 1em;
        text-align: right; }
      .sidebar .wrapper div:nth-child(3) {
        bottom: 1em;
        text-align: center;
        width: 100%; }
      .sidebar .wrapper div ul {
        list-style: none;
        padding: 0; }
    .sidebar .wrapper::before {
      content: "";
      background-image: url(../../images/Spiral_Galaxy.svg);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: 450px;
      width: 450px;
      height: 450px;
      animation: rotate 2s infinite linear;
      position: relative;
      top: 50%;
      margin: auto; }

@media screen and (max-width: 590px) {
  .sidebar {
    overflow-y: auto; }
    .sidebar .wrapper {
      display: flex;
      position: relative; }
      .sidebar .wrapper div {
        position: absolute; }
        .sidebar .wrapper div:nth-child(1) {
          text-align: center;
          width: 100%; }
        .sidebar .wrapper div:nth-child(2) {
          bottom: 1em;
          right: 0;
          text-align: center;
          width: 100%; }
        .sidebar .wrapper div:nth-child(3) {
          bottom: -8em;
          text-align: center;
          width: 100%; }
        .sidebar .wrapper div ul {
          list-style: none;
          padding: 0; } }
@keyframes rotate {
  from {
    transform: rotateZ(0deg); }
  to {
    transform: rotateZ(359deg); } }
html, body {
  margin: 0; }

/*# sourceMappingURL=style.css.map */
