@import 'partials/variables';
@import 'partials/prefix-mixins';
@import 'partials/layout'; // responsive grid and media queries
@import 'partials/basic-style';
@import 'partials/typography';
@import 'partials/intro';

/* ------- Basic ------ */

html,
body {
    height: 100%;
    margin: 0;
}

div {
    min-height: 100vh;
}

