
#zen-explanation{
    margin-left: 15%;
    width: 70%;
    margin-bottom: 7em;

}

.explanation p:nth-last-child(1){
   margin-left: 7%;
    margin-top: 3em;
}

.explanation p::nth-word(1){
    font-size: 3em;
}
#zen-explanation h3{
    font-size: 2em;
}

#zen-explanation p{
    font-size: 1em;
}