#zen-preamble h3{
    text-align: center;
}

#zen-preamble{
    background-color: $lightYellow;
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 1em;
    padding-top: 1em;

}
#zen-preamble p{
    font-size: 1em;
    padding-left: 19%;
    color: #000;
    //text-align: center;
}

.preamble:before{
    content: "";
    display: block;
    position: relative;
    float: left;
    top: -75px;
     width: 150px;
	height: 150px;
	background: rgb(89,124,14);
background: linear-gradient(120deg, rgba(89,124,14,1) 0%, rgba(47,114,222,1) 100%, rgba(247,247,190,1) 100%);
    //border: 1px solid red;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50%;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.35);
}

//@keyframes