/*
SPacing
*/

#zen-intro{
    overflow:hidden;
    background-image: url(../images/zen.svg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 80% 0%;
    
    //border: 1px solid #000;
    background-color: $lightGreen;

}


header{
    margin-top: 7em;
    line-height: .01em;
    margin-left: 8%;
    
}
header h1{
    animation: appear 1s linear;
}

header h2{
    font-size: 15px;
    
    animation: appear 3s linear;
    //animation-delay: 1s;
}
.summary p:nth-last-child(2){
    animation: appear 5s linear;
    //animation-delay: 3s;
}
.summary p:nth-last-child(1){
    animation: appear 6s linear;
    //animation-delay: 5s;
}

#zen-summary{
    margin-left: 8%;
    width: 40%; 
    margin-bottom: 7em;
    
}
#zen-summary p{
    font-size: 1em;
}

@keyframes appear{
    from {opacity: 0;}
    to {opacity: 1;}
}

