.requirements {
    padding: 1em;
    background-color: black; // background-image: url(../../images/Star_background.svg);
    background-repeat: repeat;
    background-size: 50px;
    -webkit-mask-image: url('../images/Star_background.svg');
    mask-image: url('../images/Star_background.svg');
    -webkit-mask-size: 200px;
    mask-size: 200px;
    mask-repeat: repeat;
    -webkit-mask-repeat: repeat;
    p {
        color: white;
    }
}

footer {
    display: flex;
    justify-content: space-around;
    background-color: darkblue;
    a {
        color: white;
    }
}