/*
SPacing
*/

#zen-intro{
    overflow:hidden;
    background-image: url(../images/zen.svg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 80% 0%;
    //border: 1px solid #000;
    background-color: $lightYellow;

}


header{
    margin-top: 7em;
    line-height: .01em;
    margin-left: 8%;
    
}

header h2{
    font-size: 15px;
}

#zen-summary{
    margin-left: 8%;
    width: 40%; 
    margin-bottom: 7em;
    
}
#zen-summary p{
    font-size: 1em;
}

//.summary:after{
//    content: "";
//    display: block;
//    position: relative;
//    bottom: -75px;
//     width: 150px;
//	height: 150px;
//	background: rgb(68,127,222);
//background: linear-gradient(120deg, rgba(68,127,222,1) 0%, rgba(0,212,108,1) 100%, rgba(255,255,255,1) 100%);
//    //border: 1px solid red;
//	-moz-border-radius: 50px;
//	-webkit-border-radius: 50px;
//	border-radius: 50%;
//}

