
.benefits {
    overflow: hidden;
    background-color: black;
    background: url(../images/moon.gif) no-repeat right center;
    background-size: 25%;
    padding: 4em 32% 1em 4em;
    // padding-top: 1em;
    // padding-left: 3em;
    // padding-right: 3em;
    // padding-bottom: 1em;
    

    p {
        padding-top: 2em;
        padding-bottom: 3em;
    }
}
