
.participation {
    overflow: hidden;
    background-image: linear-gradient(to top, transparent 50%, #000 99%),
    linear-gradient(to bottom, transparent 50%, #000 99%), url(../images/milky-way.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 0%;
    padding: 3em 3em 1em 5em;
    // padding-top: 1em;
    // padding-left: 3em;
    // padding-right: 3em;
    // padding-bottom: 1em;

    p {
        color: $color-5;

        &:nth-of-type(3) {
            padding-top: 8em;
        }

        & > a:link, abbr {
            color: $success;
        }
    }
}
