$width: 100px;
$hieght: 100px;

#zen-explanation{
  padding-left: 15%;
    width: 80%;
    margin-bottom: 9em;
    position: relative;
}
.explanation{
    &:after{
        content: "";
        display: block;
        width: 50px;
        height: 50px;
        border-radius: 50%;
         z-index: -1;
        position: absolute;
        left: 0;
        top: 0;
        background-color: purple;
       
    }
    &:before{
        content: "";
        display: block;
        width: 75px;
        height: 75px;
        border-radius: 50%;
         z-index: -1;
         position: absolute;
        left: .5em;
        top: 4em;
       
        background-color: red;
       
        
        
        
    }
}

#zen-explanation h3{
    font-size: 2em;
    
    &:after{
        content: "";
        display: block;
        width: $width;
        height: $hieght;
        border-radius: 50%;
         z-index: -1;
        position: absolute;
        left: .65em;
        top: 5em;
        background-color: blue;
       
    }
    &:before{
        content: "";
        display: block;
        width: 65px;
        height: 65px;
        border-radius: 50%;
         z-index: -1;
        position: absolute;
        left: 2em;
        top: 8.5em;
        background-color: orange;
        
        
        
    }
}

.explanation p:nth-last-child(1){
   margin-left: 7%;
    margin-top: 3em;
     &:after{
        content: "";
        display: block;
        width: 120px;
        height: 120px;
        border-radius: 50%;
         z-index: -1;
        position: absolute;
         top: 19em;
         left: 9em;
        background-color: purple;
       
    }
    &:before{
        content: "";
        display: block;
        width: $width;
        height: $hieght;
        border-radius: 50%;
         z-index: -1;
        position: absolute;
        top: 21.5em;
        left: 19em;
        background-color: rosybrown;
        
        
        
    }
   
}

.explanation p {
    &:after{
        content: "";
        display: block;
        width: 75px;
        height: 75px;
        border-radius: 50%;
         z-index: -1;
        position: absolute;
        top: 22em;
        left: 28em;
        background-color: lightyellow;
       
    }
    &:before{
        content: "";
        display: block;
        width: 75px;
        height: 75px;
        border-radius: 50%;
         z-index: -1;
        background-color: green;
       position: absolute;
        top: 22em;
        left: 35em;
        
        
    }
}

    


.explanation p::nth-word(1){
    font-size: 3em;
}


#zen-explanation p{
    font-size: 1em;
}